name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: ["opened", "reopened", "synchronize"]

jobs:
  cargo-fmt:
    name: Cargo fmt
    runs-on: ubuntu-latest
    env:
      RUST_LOG: "0"
    steps:
      - uses: actions/checkout@v6
      - uses: moonrepo/setup-rust@v1
      - run: cargo fmt --all -- --check

  cargo-clippy:
    name: Cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: moonrepo/setup-rust@v1
      - run: cargo clippy --all --all-targets -- -D warnings

  cargo-shear:
    name: Cargo shear
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: moonrepo/setup-rust@v1
      - name: Install cargo-shear
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-shear
      - name: cargo-shear
        run: cargo shear --fix

  cargo-check:
    name: Check
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: moonrepo/setup-rust@v1
      - name: Run cargo check for all targets
        run: cargo check --all --all-targets

  cargo-test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: moonrepo/setup-rust@v1
      - name: Run testsuite
        run: cargo run -p testsuite
